.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}



.carouselWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px 0 5px;
}

#nextButton {
  background-color: black;
  margin: none;
  transition: none;
}
